In [34]:
from bs4 import BeautifulSoup
import pandas as pd
import os
import re
import bs4 as bs
import requests
import bs4 as bs
import requests
import time
import pandas as pd
from bs4 import BeautifulSoup
from tqdm import tqdm
import os
import re
folderpath=r"C:\Users\Zoe\Desktop\maz-datenjournalismus\Daten_BR_Handelsreg"

# Listenpositionen der Angaben finden

In [ ]:
file_g=open(folderpath+"/HRSeiten/frontpage4435.htm", 'r')
text_g=file_g.read()
soup_g=BeautifulSoup(text_g, 'html.parser')

In [ ]:
soup_g

In [ ]:
div_g_list=soup_g.find_all("div")

In [ ]:
#hier also die Anzahl gefundener Firmen. 
#reicht eigentlich schon. kann ich über den Filenamen erschliessen.
div_g_list[-26].text

In [ ]:
div_list

In [ ]:
file_o=open(folderpath+"/HRSeiten/frontpage0.htm", 'r')
text_o=file_o.read()
soup_o=BeautifulSoup(text_o, 'html.parser')

In [ ]:
soup_o

In [ ]:
div_o_list=soup_o.find_all("div")

In [ ]:
len(div_o_list)

In [ ]:
# Listenposition, wenn es kein Resultat hat
div_o_list[15]

# Position zum Auslesen der Adresse finden
Damit kann ich abgleichen ob ich auch alle Files erwischt habe - oder bei welchen ich nochmals eine Runde laufen lassen muss.

In [ ]:
file_g=open(folderpath+"/HRSeiten/frontpage4435.htm", 'r')
text_a=file_g.read()
soup_a=BeautifulSoup(text_a, 'html.parser')

In [ ]:
div_at_list=soup_a.find_all("div")

In [ ]:
len(div_at_list)

In [ ]:
div_at_list[-52]

In [ ]:
# HIer die Listenposition wenn es keine Firmen drin hat. 
input_list_at=div_at_list[50].find_all("input")

In [ ]:
input_list_at[0]

In [ ]:
# Nun schauen, ob es mit Firmen an derselben Position ist

In [ ]:
file_af=open(folderpath+"/HRSeiten/frontpage4447.htm", 'r')
text_af=file_af.read()
soup_af=BeautifulSoup(text_af, 'html.parser')
div_af_list=soup_af.find_all("div")

In [ ]:
div_af_list[-51]

In [ ]:
input_list_af=div_af_list[-51].find_all("input")

In [ ]:
input_list_af[0]

In [ ]:
regex_adress=r"value=\"(\.*)\""

In [ ]:
r"value=(\".*\")"

# Loop testen

In [ ]:

anzahl_liste=[]
path=folderpath+"/HRSeiten_Test/"
for page in os.listdir(path):
    file=open(path+page, 'r')
    text=file.read()
    soup=BeautifulSoup(text, 'html.parser')
    div_list=soup.find_all("div")
    if len(div_list) == 97:
        anzahl= "keine"
        input_list=div_list[50].find_all("input")
        adresse_o=input_list[0]
        adresse=str(adresse_o)
       
    else:
        anzahl= div_list[-26].text
        input_list_f=div_list[-51].find_all("input")
        adresse_f=input_list_f[0]
        adresse=str(adresse_f)
        

    minidict_a={"Seite":page,"Anzahl":anzahl, "Adresse":adresse}
    anzahl_liste.append(minidict_a)

In [ ]:
dftest_a=pd.DataFrame(anzahl_liste)

In [ ]:
pd.set_option('display.max_colwidth', -1)
dftest_a

In [ ]:
dftest_a.dtypes

In [ ]:

dftest_a["Adresse"]

In [ ]:
dftest_a["Adresse"].str.extract("value=\"(\.*)\"")

### Nun mit dem ganzen Ordner der Stadt-Seiten

In [ ]:
anzahl_liste=[]
path="HRSeiten/"
for page in os.listdir(path):
    file=open(path+page, 'r')
    text=file.read()
    soup=BeautifulSoup(text, 'html.parser')
    div_list=div_list=soup.find_all("div")
    if len(div_list) == 97:
        anzahl= "keine"
    else:
        anzahl= div_list[-26].text

    minidict_a={"Seite":page,"Anzahl":anzahl}
    anzahl_liste.append(minidict_a)

In [ ]:
dfa=pd.DataFrame(anzahl_liste)

In [ ]:
dfa.to_csv(folderpath+"/BRFrames/haenger")

In [ ]:
dfa.shape

In [ ]:
dfa["Anzahl"].sort_values().tail(1123)

In [ ]:
dfb=dfa["Anzahl"].sort_values().head(3324)

In [ ]:
dfb.tail(2500)

#### Kurz testen, ob das mit dem 97 auch immer stimmt

In [ ]:
for page1 in os.listdir(path):
    file1=open(path+page1, 'r')
    text1=file1.read()
    soup1=BeautifulSoup(text1, 'html.parser')
    div_list1=soup1.find_all("div")
    print(len(div_list1))

Sehr gut: es sind also entweder 97 oder 100 Listenstellen auch wenn unterschiedlich viele Firmen aufgelistet sind.

Die Ansicht der Seite hat ergeben, dass es maximal 20 Einträge pro Seite hat. Sind es also weniger, muss ich nicht weitergraben.

# ausgelesene Gemeinden und Stadt zusammenbringen

In [4]:
df_adan=pd.read_csv(folderpath+"/BRFrames/Alle_Gemeinden_ausgelesen_roh")

## Zahl und Adresse rausziehen 
evtl. könnte man die Frames als erstes wieder zusammenfügen
zuerst alle aussortieren, die überhaupt eine Zahl enthalten
Danach splitten oder mit Regex. Da es nur eine Zahl gibt, wäre hier vielleicht Regex besser.

In [ ]:
df_adan=pd.read_csv(folderpath+"/BRFrames/Stadtzug_frontpages_ausgelesen_roh")

In [ ]:
df_adan

In [ ]:
df_adan.shape #Ausganglage waren 4690. Offenbar habe ich einige doppelt. egal.

### Zahl

In [5]:
# Hier nun die Formel, um aus allen die Zahl rausziehen zu können
df_adan["Anzahl"]=df_adan["Anzahl"].str.extract("(\d+)")

### Adresse

In [6]:
df_adan["Adresse"]=df_adan["Adresse"].str.extract("value=\"(.*)\"")

In [ ]:
df_adan

# Hier mal die Gemeinden 
#### Die ich schon scrapen konnte

In [3]:
anzahl_liste=[]
path= folderpath+"/HRSeiten_Gemeinden_Teil2/"
for page in tqdm(os.listdir(path)): #Ich erstelle direkt aus dem Folder eine Liste.
    file=open(path+page, 'r')
    page=page
    text=file.read()
    soup=BeautifulSoup(text, 'html.parser')
    div_list=soup.find_all("div")
    if len(div_list) == 97: #Wenn es keine Firma hat, hat es nur 97 Listen-Punkte
        anzahl= str("0") # Ich vermerke, dass es keine Firmen hat
        input_list=div_list[50].find_all("input") # Hier der Adressen-Eintrag
        adresse_o=input_list[0]
        adresse=str(adresse_o) #HIer noch ein Trick, dass er mir die Sache nicht als Liste ausspuckt
       
    else:
        anzahl= div_list[-26].text #Angabe mit Anzahl Firmen auslesen.
        input_list_f=div_list[-51].find_all("input") 
        adresse_f=input_list_f[0]
        adresse=str(adresse_f) # hier derselbe Trick wie oben
        

    minidict_a={"Seite":page,"Anzahl":anzahl, "Adresse":adresse}
    anzahl_liste.append(minidict_a)

100%|██████████| 3993/3993 [01:29<00:00, 44.59it/s]

In [4]:
dfb=pd.DataFrame(anzahl_liste)

In [5]:
dfa=dfb.drop_duplicates("Adresse")

In [6]:
dfa.to_csv(folderpath+"/BRFrames/Gemeinden_fehlende_Teil2")

In [35]:
dfa=pd.read_csv(folderpath+"/BRFrames/Gemeinden_fehlende_Teil2")

In [36]:
dfa.shape

(3706, 4)

In [ ]:
dfa

In [ ]:
#dfa=pd.read_csv(folderpath+"/BRFrames/Gemeinden_Teil1")

In [ ]:
dfa

In [37]:
dfa["Anzahl"]=dfa["Anzahl"].str.extract("(\d+)")

In [38]:
dfab=dfa.sort_values("Anzahl",ascending=False)

In [10]:
dfab

,Seite,Anzahl,Adresse
378,frontpage22_1338.htm,9,"<input aria-disabled=""false"" aria-multiline=""f..."
733,frontpage22_1658.htm,9,"<input aria-disabled=""false"" aria-multiline=""f..."
3932,frontpage22_944.htm,9,"<input aria-disabled=""false"" aria-multiline=""f..."
1371,frontpage22_2231.htm,9,"<input aria-disabled=""false"" aria-multiline=""f..."
1548,frontpage22_2391.htm,9,"<input aria-disabled=""false"" aria-multiline=""f..."
...,...,...,...
1441,frontpage22_2295.htm,0,"<input aria-disabled=""false"" aria-multiline=""f..."
1442,frontpage22_2296.htm,0,"<input aria-disabled=""false"" aria-multiline=""f..."
1443,frontpage22_2297.htm,0,"<input aria-disabled=""false"" aria-multiline=""f..."
3992,frontpage22_999.htm,0,"<input aria-disabled=""false"" aria-multiline=""f..."
6,frontpage22_1002.htm,NaN,"<input id=""idSucheForm:panel:idDiverseTyp_focu..."

In [39]:
dfab["Adresse"]=dfab["Adresse"].str.extract("value=\"(.*)\"")

In [40]:
dfab[dfab["Adresse"].notnull()==False]

      Unnamed: 0                 Seite Anzahl Adresse
1129        1234  frontpage22_2108.htm      0     NaN
6              6  frontpage22_1002.htm    NaN     NaN

In [14]:
df_ad_t2=pd.read_csv(folderpath+"/BRFrames/fehlende_Gemeinden_Teil2")

In [ ]:
df_ad_t2=

In [41]:
df_adan=dfab

In [42]:
df_adan["Adresse"]=df_adan["Adresse"].str.replace("Ã¼","ü")
df_adan["Adresse"]=df_adan["Adresse"].str.replace("Ã¶","ö")
df_adan["Adresse"]=df_adan["Adresse"].str.replace("Ã¤","ä")
df_adan["Adresse"]=df_adan["Adresse"].str.replace("Ã„","Ä")
df_adan["Adresse"]=df_adan["Adresse"].str.replace("Ã–","Ö")
df_adan["Adresse"]=df_adan["Adresse"].str.replace("Ãœ","Ü")
df_adan["Adresse"]=df_adan["Adresse"].str.replace("Ã©","é")

In [43]:
df_adan

      Unnamed: 0                 Seite Anzahl                          Adresse
350          378  frontpage22_1338.htm      9    Waldhofstrasse 11, Unterägeri
670          733  frontpage22_1658.htm      9  Zugerbergstrasse 18, Unterägeri
3651        3932   frontpage22_944.htm      9  Sennweidstrasse 35, Steinhausen
1262        1371  frontpage22_2231.htm      9       Zugerstrasse 195, Neuägeri
1429        1548  frontpage22_2391.htm      9      Zugerstrasse 22, Unterägeri
...          ...                   ...    ...                              ...
1328        1441  frontpage22_2295.htm      0   Maisbühlstrasse 64, Unterägeri
1329        1442  frontpage22_2296.htm      0   Maisbühlstrasse 54, Unterägeri
1330        1443  frontpage22_2297.htm      0         Strandweg 14, Unterägeri
3705        3992   frontpage22_999.htm      0     Bannstrasse 23d, Steinhausen
6              6  frontpage22_1002.htm    NaN                              NaN

[3706 rows x 4 columns]

In [45]:
# Ok, hier die Daten die stimmen.
df_adan1=df_adan[df_adan["Adresse"].notnull()==True]

In [48]:
# Also: von den rund 4000 sind nur gerade etwas über 500 die ich im Telefonbuch suchen muss
df_adan1[df_adan1["Anzahl"].str.contains("0")==False]

,Unnamed: 0,Seite,Anzahl,Adresse
350,378,frontpage22_1338.htm,9,"Waldhofstrasse 11, Unterägeri"
670,733,frontpage22_1658.htm,9,"Zugerbergstrasse 18, Unterägeri"
3651,3932,frontpage22_944.htm,9,"Sennweidstrasse 35, Steinhausen"
1262,1371,frontpage22_2231.htm,9,"Zugerstrasse 195, Neuägeri"
1429,1548,frontpage22_2391.htm,9,"Zugerstrasse 22, Unterägeri"
...,...,...,...,...
2026,2203,frontpage22_2982.htm,1,"Spiegelbergstrasse 29a, Walchwil"
1169,1278,frontpage22_2148.htm,1,"Bödlistrasse 5b, Unterägeri"
2831,3046,frontpage22_3740.htm,1,"Boden, Finstersee"
2078,2257,frontpage22_303.htm,1,"Weidstrasse 11, Rotkreuz"
2868,3083,frontpage22_3774.htm,1,"Sonnhalde, Edlibach"

In [47]:
df_adan1.to_csv(folderpath+"/BRFrames/Gemeinden_Teil2_ausgelesen_bereinigt")

In [26]:
df_abgl_t2=pd.merge(df_adan, df_ad_t2, how="outer", on="Adresse")

In [27]:
df_abgl_t2

,Seite_x,Anzahl_x,Adresse,Unnamed: 0,Unnamed: 0_x,Seite_y,Anzahl_y,Unnamed: 0_y,EGID,EDID,...,GDENR,GDENAME,STRNAME,DEINR,PLZ4,PLZZ,PLZNAME,GKODE,GKODN,STRSP
0,frontpage22_1338.htm,9,"Waldhofstrasse 11, Unterägeri",21451.0,NaN,NaN,NaN,272.0,317944.0,0.0,...,1709.0,Unterägeri,Waldhofstrasse,11,6314.0,0.0,Unterägeri,2686267.769,1221857.146,de
1,frontpage22_1658.htm,9,"Zugerbergstrasse 18, Unterägeri",21771.0,NaN,NaN,NaN,595.0,318318.0,0.0,...,1709.0,Unterägeri,Zugerbergstrasse,18,6314.0,0.0,Unterägeri,2686755.129,1221264.135,de
2,frontpage22_944.htm,9,"Sennweidstrasse 35, Steinhausen",21057.0,NaN,NaN,NaN,841.0,9033610.0,0.0,...,1708.0,Steinhausen,Sennweidstrasse,35,6312.0,0.0,Steinhausen,2679063.298,1227118.775,de
3,frontpage22_2231.htm,9,"Zugerstrasse 195, Neuägeri",22346.0,NaN,NaN,NaN,1179.0,9002354.0,0.0,...,1709.0,Unterägeri,Zugerstrasse,195,6314.0,1.0,Neuägeri,2685253.581,1222983.459,de
4,frontpage22_2391.htm,9,"Zugerstrasse 22, Unterägeri",22506.0,NaN,NaN,NaN,1342.0,190208532.0,0.0,...,1709.0,Unterägeri,Zugerstrasse,22,6314.0,0.0,Unterägeri,2686708.749,1221383.446,de
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3993,NaN,NaN,"Hinterbergstrasse 26, Walchwil",23575.0,NaN,NaN,NaN,1276.0,319379.0,5.0,...,1710.0,Walchwil,Hinterbergstrasse,26,6318.0,0.0,Walchwil,2682147.726,1216838.021,de
3994,NaN,NaN,"Hinterbergstrasse 14, Walchwil",23589.0,NaN,NaN,NaN,1290.0,319379.0,11.0,...,1710.0,Walchwil,Hinterbergstrasse,14,6318.0,0.0,Walchwil,2682124.529,1216831.466,de
3995,NaN,NaN,"Schule Wiesental, Baar",23592.0,NaN,NaN,NaN,413.0,310500.0,0.0,...,1701.0,Baar,Schule Wiesental,NaN,6340.0,0.0,Baar,2681824.816,1228113.838,de
3996,NaN,NaN,"Schmidtli, Neuägeri",23603.0,NaN,NaN,NaN,1428.0,311667.0,0.0,...,1701.0,Baar,Schmidtli,NaN,6314.0,1.0,Neuägeri,2685032.000,1223212.000,de
3997,NaN,NaN,"Vordermangeli, Finstersee",23899.0,NaN,NaN,NaN,1348.0,191730295.0,0.0,...,1704.0,Menzingen,Vordermangeli,NaN,6313.0,3.0,Finstersee,2689988.700,1223698.270,de

In [32]:
df_fehlende_gmd_teil2=df_abgl_t2[df_abgl_t2["Anzahl_x"].notnull()==False]
df_fehlende_gmd_teil2.to_csv(folderpath+"/BRFrames/fehlende_der_fehlenden_Gmd_Teil2")
df_fehlende_gmd_teil2

,Seite_x,Anzahl_x,Adresse,Unnamed: 0,Unnamed: 0_x,Seite_y,Anzahl_y,Unnamed: 0_y,EGID,EDID,...,GDENR,GDENAME,STRNAME,DEINR,PLZ4,PLZZ,PLZNAME,GKODE,GKODN,STRSP
3284,frontpage22_1002.htm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3706,NaN,NaN,"Hauptseestrasse 39.2, Morgarten",20132.0,NaN,NaN,NaN,1649.0,191717997.0,0.0,...,1706.0,Oberägeri,Hauptseestrasse,39.2,6315.0,3.0,Morgarten,2691060.000,1219359.000,de
3707,NaN,NaN,"Hauptseestrasse 33.2, Morgarten",20155.0,NaN,NaN,NaN,1706.0,191718200.0,0.0,...,1706.0,Oberägeri,Hauptseestrasse,33.2,6315.0,3.0,Morgarten,2691324.000,1219572.000,de
3708,NaN,NaN,"Rämslistrasse 51.2, Oberägeri",20177.0,NaN,NaN,NaN,1749.0,191718410.0,0.0,...,1706.0,Oberägeri,Rämslistrasse,51.2,6315.0,0.0,Oberägeri,2691050.000,1220553.000,de
3709,NaN,NaN,"Gulmstrasse 35.1, Oberägeri",20181.0,NaN,NaN,NaN,1753.0,191797912.0,0.0,...,1706.0,Oberägeri,Gulmstrasse,35.1,6315.0,0.0,Oberägeri,2689736.000,1221130.000,de
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3993,NaN,NaN,"Hinterbergstrasse 26, Walchwil",23575.0,NaN,NaN,NaN,1276.0,319379.0,5.0,...,1710.0,Walchwil,Hinterbergstrasse,26,6318.0,0.0,Walchwil,2682147.726,1216838.021,de
3994,NaN,NaN,"Hinterbergstrasse 14, Walchwil",23589.0,NaN,NaN,NaN,1290.0,319379.0,11.0,...,1710.0,Walchwil,Hinterbergstrasse,14,6318.0,0.0,Walchwil,2682124.529,1216831.466,de
3995,NaN,NaN,"Schule Wiesental, Baar",23592.0,NaN,NaN,NaN,413.0,310500.0,0.0,...,1701.0,Baar,Schule Wiesental,NaN,6340.0,0.0,Baar,2681824.816,1228113.838,de
3996,NaN,NaN,"Schmidtli, Neuägeri",23603.0,NaN,NaN,NaN,1428.0,311667.0,0.0,...,1701.0,Baar,Schmidtli,NaN,6314.0,1.0,Neuägeri,2685032.000,1223212.000,de
3997,NaN,NaN,"Vordermangeli, Finstersee",23899.0,NaN,NaN,NaN,1348.0,191730295.0,0.0,...,1704.0,Menzingen,Vordermangeli,NaN,6313.0,3.0,Finstersee,2689988.700,1223698.270,de

In [ ]:
dfabc

In [ ]:
dfabc["Anzahl"]=dfabc["Anzahl"].astype(int)

In [ ]:
dfabc.sort_values("Anzahl")

In [ ]:
dfabc["Adresse"]=dfabc["Adresse"].str.extract("value=\"(.*)\"")

In [ ]:
dfabc.sort_values("Anzahl", ascending=False).head(40)

In [ ]:
dfabc[dfabc["Anzahl"]>20].shape

In [ ]:
dfabc.to_csv(folderpath+"/BRFrames/GEmeinden_Teil1_ausgelesen")

In [ ]:
dfa.shape

In [ ]:
dfa["Anzahl"].sort_values().tail(1123)

In [ ]:
dfb=dfa["Anzahl"].sort_values().head(3324)

In [ ]:
dfb.tail(2500)

# Loop bei mehreren Seiten
zuerst nur mal mit der Baarerstrasse 11 versuchen. Dort gibt es mehrere Seiten
abgespeichert unter page

In [ ]:
file_g=open("page.htm", 'r')
text_g=file_g.read()
soup_g=BeautifulSoup(text_g, 'html.parser')
soup_g

In [ ]:
span_list=soup_g.find_all("span")
div_list=soup_g.find_all("div")

In [ ]:
len(span_list)

In [ ]:
div_span_list=div_list[-27].find_all("span")

In [ ]:
div_span_list


**Wie kann ich die verschiedenen Unterseiten ansteuern und merken, wann die letzte Seite da ist. Vielleicht ist die Span-Liste unteschiedlich lange - je nach dem wieviele Unterseiten vorhanden sind.**

In [ ]:
# mit 5 Unterseiten hat die Liste die Länge 14
len(div_span_list)

In [ ]:
file_f=open(folderpath+"/HRSeiten/frontpage1011.htm", 'r')
text_f=file_f.read()
soup_f=BeautifulSoup(text_f, 'html.parser')
soup_f

In [ ]:
div_list_f=soup_f.find_all("div")

In [ ]:
span_f_list=div_list_f[-27].find_all("span")

In [ ]:
span_f_list

In [ ]:
# mit zwei Unterseiten hat es die Länge 11. Es würde also so funktionieren
len(span_f_list)

###  Erkenntnis Anzahl Unterseiten

- Anhand des Totals an Firmen kann ich sehen, wieviele Unterseiten vorhanden sein sollten.
- Und es funktioniert auch mit Hilfe der Länge der Span-Liste.